<div class="row">
    <div class="col-md-6 col-lg-4">
        <h2>Administrator creation</h2>
        <p>To begin using the system, please specify a username and password to manage blither.</p>
    </div>
    <div class="col-md-6 col-lg-4">
        <form action="/start" method="post">

          <div class="mb-3">
            <label for="adminUsername" class="form-label">Name</label>
            <input type="text" class="form-control" autocomplete="off" autofocus="autofocus" id="adminUsername" name="adminUsername" maxlength="32" aria-describedby="adminUsername">
            <div id="emailHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="adminEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" autocomplete="off" autofocus="autofocus" id="adminEmail" name="adminEmail" maxlength="62" aria-describedby="adminEmail">
            <div id="emailHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <i class="float-end mouse-cursor text-secondary fa fa-eye" onclick="DP.toggle_pw_vis(this, 'inputPassword')" class="fa fa-eye" aria-hidden="true"></i>
            <input type="password" class="form-control" id="inputPassword" name="inputPassword">
          </div>

          <button type="submit" onmousedown="document.getElementById('inputPassword').type = 'password';" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
